/* Blowfish scheme */
:root {
  --color-neutral: 255, 255, 255; /* title bold bg-w*/
  /* Gray */
  --color-neutral-50: 245, 245, 245; /*codebg-w*/
  --color-neutral-100: 230, 230, 230;
  --color-neutral-200: 245, 245, 245;
  --color-neutral-300: 220, 220, 220;
  --color-neutral-400: 122, 122, 122; /*path / date*/
  --color-neutral-500: 90, 90, 90; /*line*/
  --color-neutral-600: 169, 169, 169;
  --color-neutral-700: 30, 30, 30; /*big code, w-text*/
  --color-neutral-800: 10, 10, 10; /* bakcground */
  --color-neutral-900: 0, 0, 0;
  /* Blue */
  --color-primary-50: 255, 250, 250;
  --color-primary-100: 190, 190, 190; /*alert w*/
  --color-primary-200: 245, 245, 245;
  --color-primary-300: 193, 121, 201; /*big code = if */
  --color-primary-400: 219, 234, 254; /*tag text, page current, serice title href*/
  --color-primary-500: 192, 192, 192;
  --color-primary-600: 116, 116, 130; /*tag boder*/
  --color-primary-700: 65, 72, 83; /*tag text w*/
  --color-primary-800: 40, 40, 40; /* serice*/
  --color-primary-900: 50, 50, 50; /*alert*/
  /* Cyan */
  --color-secondary-50: 255, 250, 250;
  --color-secondary-100: 255, 255, 255;
  --color-secondary-200: 245, 245, 245;
  --color-secondary-300: 220, 220, 220;
  --color-secondary-400: 239, 246, 255; /*line code bigcode-number-w*/
  --color-secondary-500: 192, 192, 192;
  --color-secondary-600: 255,215,0; /*big code number */
  --color-secondary-700: 30, 41, 59; /*line code w*/
  --color-secondary-800: 105, 105, 105;
  --color-secondary-900: 0, 0, 0;
}
